<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper文件替代原先的dao层实现类-->
<!--namespace对应的是接口的全路径名称-->
<mapper namespace="com.jxd.emp.dao.IMenusDao">
    <!--封装二级菜单-->
    <resultMap id="subMenu" type="Menus">
        <id column="sid" property="id"/>
        <result column="stitle" property="title"/>
        <result column="spath" property="path"/>
    </resultMap>

    <!--封装一级菜单-->
    <resultMap id="menuList" type="Menus">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="path" property="path"/>
        <!--二级菜单-->
        <collection property="subMenu" resultMap="subMenu"/>
    </resultMap>


    <select id="getMenuList" resultMap="menuList">
       select m1.id,m1.title,m1.path,m2.id sid,m2.title stitle,m2.path spath
        from menus m1
        inner join menus m2
        on
        m1.id = m2.pid

    </select>

</mapper>